doc/_build/
.ipynb_checkpoints/
.kdev4/
tutorial/.ipynb_checkpoints/
tutorial/lib
tutorial/chembl_et-a_antagonists.txt
tutorial/chembl_et-a_ant_active.sdf
*.pkl
*.png
*.mrv
*.mol
*.pyc
.spyderproject
branch_info.txt
commit_msg.txt
snippets.txt
