ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    background-image: url(../icons/table.png);
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
li.folder {
    background-image: url(../icons/add.png);
}

a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
