body{
  background-color: #FFFFFF;
  font-family: freesans, arial, verdana, sans-serif;
}
h3 {
  margin-bottom: 10px;
}
td {
  border-collapse:collapse;
  border-width:thin;
  border-style:hidden;
  border-color:black;
  padding-right: 80px;
  padding-bottom: 10px;
}
table {
  border-collapse:collapse;
  border-width:thin;
  border-style:hidden;
  border-color:black;
  background-color: #FFFFFF;
  text-align: left;
}




